{{define "title"}}
  Pradipta Blog | {{index . "name"}}
{{end}}

{{define "body"}}
<section class="bg-1 h-900x main-slider pos relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
    <div class="dplay-tbl">
      <div class="dplay-tbl-cell center-text color-white">
          <h5><b>Terbaik Di Indonesia</b></h5>
          <h1 class="mt-30 mb-15"> Pizza & Pasta</h1>
          <h5><a href="/" class="btn-primaryc plr-25">
            <b>Lihat menu Hari ini</b></a>
          </h5>
      </div>
    </div>
  </div>
</section>

<section class="story-area left-text center-sm-text pos-relative">
    <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
    <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
    <div class="container">
      <div class="heading">
        <img class="heading-img" src="static/images/heading_logo.png" alt="logo">
        <h2 name="about">Our Story</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="mb-30">
            "Pertama kali munculnya pizza ini dimulai ketika saya belajar bahasa baru yaitu golang dengan framework echo dan pada saat saya belajar golang membuat saya tertarik untuk belajar lebih dalam tentang golang"
          </p>
        </div>
          <div class="col-md-6">
          <p class="mb-30" style="padding-right: 15px;">
            "so dibuatlah pizza dan pasta untuk order makan dan ada lagi web yang sedang saya kebangkan yaitu crowdfunding dengan golang menggunakan gin dan gorm"
          </p>
         </div>
      </div>
    </div>
</section>

<section class="story-area bg-seller color-white pos-relative">
  <div class="pos-bottom triangle-up"></div>
  <div class="pos-top triangle-bottom"></div>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="logo">
      <h2>Best Sellers</h2>

    </div>
    <div class="row">
      {{range .datapopuler}}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
              <b></b>
            </h6>
            <img src="static/images/{{.Url_gambar}}" alt="" style="height: 200px; width: 200px;">
          </div>
          <h5 class="mt-20">{{.Nama_menu}}</h5>
          <h4 class="mt-5"> <b>{{.Harga}} </b></h4>
          <h4 class="mt-5"> <b>{{.Total_order}} </b></h4>
          <a href="/order?id={{.Id_menu}}&nama={{.Nama_menu}}&gambar={{.Url_gambar}}" class="btn-brdr-primary plr-25"><b>Order</b></a>
        </div>
      </div>
      {{end}}
    </div>
  
      <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="/" class="btn-primaryc plr-25">
        <b>Lihat Menu Hari Ini</b>
      </a></h6>
  </div>
</section>

<section>
  <div class="container">
      <div class="heading">
        <img class="heading-img" src="static/images/heading_logo.png" alt="logo">
        <h2> Our Menu </h2>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="selecton brdr-b-primary mb-70">
            <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
            <li><a  href="#" data-select="Pizza"><b>PIZZA</b></a></li>
            <li><a  href="#" data-select="Pasta"><b>PASTA</b></a></li>
            <li><a  href="#" data-select="Appetizer"><b>APPETIZER</b></a></li>
            <li><a  href="#" data-select="Dessert"><b>DESERT</b></a></li>
            
          </ul>
        </div>
      </div>
 

    <div class="row">
      {{range .data}}
      <div class="col-md-6 food-menu {{.Jenis}}">
        <div class="sided-90x mv-30">
          <div class="s-left">
            <img class="br-3" src="static/images/{{.Url_gambar}}" alt="ayampizza">
          </div>
          <div class="s-right">
            <h5 class="mb-10"><b>{{.Nama_menu}}</b>
              <b class="color-primary float-right">{{.Harga}}</b>
            </h5>
            <p class="pr-70">{{.Deksripsi}}</p>
            <a href="/order?id={{.Id_menu}}&nama={{.Nama_menu}}&gambar={{.Url_gambar}}" class="btn-brdr-primary plr-25"><b>Order</b></a>
          </div>
        </div>
      </div>

      {{end}}
    </div>
     
  </div>
</section>
{{end}}
